* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: lemonchiffon;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding-bottom: 20px;
}

p {
  max-width: 600px;
  line-height: 2;
  text-align: center;
}

.xylophone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 15px;
  padding-left: 15px;
}

.note {
  width: 100px;
  padding-top: 90px;
  border: solid 2px lightyellow;
  margin: 10px;
  text-align: center;
  box-shadow: 5px 3px 5px lightgrey;
}

.c {
  height: 350px;
  background-color: #e30a13;
}

.d {
  height: 320px;
  background-color: #f7a600;
}

.e {
  height: 290px;
  background-color: #feea00;
}

.f {
  height: 260px;
  background-color: #98bf26;
}

.g {
  height: 230px;
  background-color: #31b045;
}
.a {
  height: 200px;
  background-color: #3dadec;
}

.b {
  height: 170px;
  background-color: #0465cc;
}

.c2 {
  height: 140px;
  background-color: #933983;
}

.game-status {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  color: teal;
  display: none;
}
.game-button {
  padding-top: 30px;
}
.start-game,
.next-level, .replay {
  width: 120px;
  margin: 0 auto;
  padding: 15px 10px;
  background-color: #d23c89;
  color: white;
}

.start-game {
  display: block;
}

.next-level, .replay {
  display: none;
}

.chosen {
  border: solid 2px #3cd2b9;
}


